### List

###### Python Lists are just like dynamically sized arrays, declared in other languages (vector in C++ and ArrayList in Java). In simple language, a list is a collection of things, enclosed in [ ] and separated by commas. 

###### A single list may contain DataTypes like Integers, Strings, as well as Objects

###### Lists are mutable, and hence, they can be altered even after their creation.

#### Creating List

In [4]:
li = ["Sure","Hello","Everyone"]
print(li)

['Sure', 'Hello', 'Everyone']

In [5]:
li1 = list([12,5,"Ahr"])
print(li1)

[12, 5, 'Ahr']

#### Accessing the List

#### In order to access the list items refer to the index number. Use the index operator [ ] to access an item in a list. The index must be an integer. Nested lists are accessed using nested indexing.

In [6]:
print(li1[0])
print(li[2])

12
Everyone

In [7]:
l2 = ["hello",["come" , "to"], "my","home"]
print(l2)

['hello', ['come', 'to'], 'my', 'home']

In [8]:
print(l2[0])
print(l2[1][0])

hello
come

In [12]:
print(l2[-1])
print(l2[-3][0])
print(l2[0:2])

home
come
['hello', ['come', 'to']]

#### Size

In [11]:
print(len(l2))

4

#### Adding items into the list

In [28]:
listt = []
print("Empty List ====> ",listt)

## append

listt.append("Hello")
listt.append("is")
print("Items are added " , listt)
for i in range(3):
    listt.append("Hello " * i)
print("Dynamic Items are added " , listt)

## insert
listt.insert(2,"Good")
print("Inserting to the position ", listt)

Empty List ====>  []
Items are added  ['Hello', 'is']
Dynamic Items are added  ['Hello', 'is', '', 'Hello ', 'Hello Hello ']
Inserting to the position  ['Hello', 'is', 'Good', '', 'Hello ', 'Hello Hello ']

#### Count of items in the list

In [29]:
print(listt.count("Hello"))

1

#### Delete Operation

In [30]:
## Del 

del listt[-3]
print("After deleting the empty ",listt)
del listt[1]
print("After deleting an item ",listt)

## remove
listt.remove("Hello")
print("After removing hello ", listt)

## pop()
listt.pop()
print("After poping ",listt)
listt.pop(0)
print("After poping using specific position",listt)

After deleting the empty  ['Hello', 'is', 'Good', 'Hello ', 'Hello Hello ']
After deleting an item  ['Hello', 'Good', 'Hello ', 'Hello Hello ']
After removing hello  ['Good', 'Hello ', 'Hello Hello ']
After poping  ['Good', 'Hello ']
After poping using specific position ['Hello ']

#### ELement Operation using methods

In [38]:
lin = [1,8,6,-8,6-2,5,96]
print("Original List ",lin )

## MAx
print("Maximum value in the list " ,max(lin))

##Min
print("Minimum value in the list ",min(lin))

## Sort
lin.sort()
print("After sort ", lin)
lin.sort(reverse=True)
print("After reverse sort ", lin)

## reverse
lin.reverse()
print("After using reverse ", lin)

Original List  [1, 8, 6, -8, 4, 5, 96]
Maximum value in the list  96
Minimum value in the list  -8
After sort  [-8, 1, 4, 5, 6, 8, 96]
After reverse sort  [96, 8, 6, 5, 4, 1, -8]
After using reverse  [-8, 1, 4, 5, 6, 8, 96]

### Tuples

###### Tuple is a collection of objects separated by commas. In some ways, a tuple is similar to a list in terms of indexing, nested objects, and repetition but a tuple is immutable, unlike lists which are mutable.

#### creating tuples

In [2]:
tu = (1,"wqe",2.03,"Hello everyone",True,"2.365")
print(tu)

(1, 'wqe', 2.03, 'Hello everyone', True, '2.365')

#### Accessing  and slicing Tuples

In [5]:
print(tu[2:5])
print(tu[-3])
print(tu[-3:])
print(tu[:-3])

(2.03, 'Hello everyone', True)
Hello everyone
('Hello everyone', True, '2.365')
(1, 'wqe', 2.03)

#### Length Tuples

In [8]:
print(len(tu))

6

### Set

###### A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements.

In [10]:
se = {}
print("Empty Set ", se)
se = {"Hello","Eve","hello","Good"}
print("Set items ",se)
se = set([1,"wqe",2.03,"Hello everyone",True,"2.365",2.365,2.03,"1"])
print(se)

Empty Set  {}
Set items  {'Good', 'Hello', 'hello', 'Eve'}
{1, 2.03, 2.365, 'Hello everyone', 'wqe', '2.365', '1'}

#### Adding

In [13]:
se.add("Ruesday")
print("Added a element ", se)
for i in range(2,5):
    se.add("goo "*i)
print("Adding the dynamic elements ",se)

Added a element  {1, 2.03, 2.365, 'Ruesday', 'Hello everyone', 'wqe', '2.365', '1'}
Adding the dynamic elements  {1, 2.03, 2.365, 'Ruesday', 'goo goo goo ', 'Hello everyone', 'goo goo goo goo ', 'wqe', '2.365', 'goo goo ', '1'}

#### Basic Set Operation

In [22]:
## Union
s1 = {"chn","mas","erd"}
s2 = {"thiru","basky","mas"}
print("union Using method ", s1.union(s2))
print("union Using | symbol ", (s1 | s2))

## Intersection

print("Intersection Using method ", s1.intersection(s2))
print("Intersection Using & symbol ", (s1 & s2))

## Difference

print("Difference Using method ", s1.difference(s2))
print("Difference Using - symbol ", (s1 - s2))

print("Difference Using method ", s2.difference(s1))
print("Difference Using - symbol ", (s2 - s1))

## Additional USeful Operation

print("containment check " , (s1 in s2))
print("non-containment check " , (s1 not in s2))

print("equivalent check " , (s1 == s2))
print("non-equivalent check " , (s1 != s2))

print("s1 is subset of s2 ", (s1 <= s2))
print("s1 is proper subset of s2 ",(s1<s2))

print("s1 is super subset of s2 ", (s1 >= s2))
print("s1 is proper super subset of s2 ",(s1>s2))

print("the set of elements in precisely one of s1 or s2 ",(s1 ^ s2))

union Using method  {'thiru', 'erd', 'mas', 'chn', 'basky'}
union Using | symbol  {'thiru', 'erd', 'mas', 'chn', 'basky'}
Intersection Using method  {'mas'}
Intersection Using & symbol  {'mas'}
Difference Using method  {'chn', 'erd'}
Difference Using - symbol  {'chn', 'erd'}
Difference Using method  {'thiru', 'basky'}
Difference Using - symbol  {'thiru', 'basky'}
containment check  False
non-containment check  True
equivalent check  False
non-equivalent check  True
s1 is subset of s2  False
s1 is proper subset of s2  False
s1 is super subset of s2  False
s1 is proper super subset of s2  False
the set of elements in precisely one of s1 or s2  {'thiru', 'chn', 'erd', 'basky'}

In [20]:
## Clearing the set

s1.clear()

### Frozen Set
###### Frozen sets in Python are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.

In [19]:
fs = frozenset(["e","r","e"])
print("Frozen Set  ", fs)
print("Add or set or put method are not there in the frozen set")

Frozen Set   frozenset({'r', 'e'})
Add or set or put method are not there in the frozen set

### Dictionary

###### a dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’. Dictionary holds pairs of values, one being the Key and the other corresponding pair element being its Key:value. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

#### Creating

In [27]:
d1 = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
d2 = {"n":"1",1:["we","are"],"dict":{"label":"head","tail":"monkey"}}
d3 = dict({"key":"val","key1":"val1"})
d4 = dict([(1,"hello"),(2,"welomce")])
print("Normal Dictionary " ,d1)
print("Nested Dictionary " ,d2)
print("Dictionary using in-build method " ,d3)
print("Dictionary using list of tuples ", d4)

Normal Dictionary  {1: 'Geeks', 2: 'For', 3: 'Geeks'}
Nested Dictionary  {'n': '1', 1: ['we', 'are'], 'dict': {'label': 'head', 'tail': 'monkey'}}
Dictionary using in-build method  {'key': 'val', 'key1': 'val1'}
Dictionary using list of tuples  {1: 'hello', 2: 'welomce'}

#### Adding elements

In [30]:
d1[4] = "Adding to a one point"
d1["Value At a key"] = "val1111"
print("Adding to a one time " , d1)

Adding to a one time  {1: 'Geeks', 2: 'For', 3: 'Geeks', 4: 'Adding to a one point', 'Value At a key': 'val1111'}

#### UPdating Elements

In [31]:
d1[4] = "Updated valu"
print("Updated value at a specific postion ", d1)

Updated value at a specific postion  {1: 'Geeks', 2: 'For', 3: 'Geeks', 4: 'Updated valu', 'Value At a key': 'val1111'}

#### Accessing the elements

In [35]:
print(d1[2])
print(d3['key'])
#print(d3['124']) ## It will give key error because unknown key, to overcome this use get()
print("For unknown key " , d3.get('124'))
print("For nested key access ", d2.get(1)[1])
print("For nested key access ", d2.get('dict')['tail'])

For
val
For unknown key  None
For nested key access  are
For nested key access  monkey

### Additional MEthod

In [36]:
print("Returns a list containing a tuple for each key value pair  ", d3.items())

Returns a list containing a tuple for each key value pair   dict_items([('key', 'val'), ('key1', 'val1')])

In [37]:
print("Returns a list containing dictionary’s keys " , d2.keys())

Returns a list containing dictionary’s keys  dict_keys(['n', 1, 'dict'])

In [38]:
print("Returns a list of all the values of dictionary ",d3.values())

Returns a list of all the values of dictionary  dict_values(['val', 'val1'])

In [39]:
print("Returns a copy of the dictionary ", d4.copy())

Returns a copy of the dictionary  {1: 'hello', 2: 'welomce'}

In [41]:
print("Before removing ", d1)
d1.pop(2)
print("Remove the element with specified key using pop() ", d1)

Before removing  {1: 'Geeks', 2: 'For', 3: 'Geeks', 4: 'Updated valu', 'Value At a key': 'val1111'}
Remove the element with specified key using pop()  {1: 'Geeks', 3: 'Geeks', 4: 'Updated valu', 'Value At a key': 'val1111'}

In [42]:
print("Before removing ", d1)
d1.popitem()
print("Removes the last inserted key-value pair using popitem() ", d1)

Before removing  {1: 'Geeks', 3: 'Geeks', 4: 'Updated valu', 'Value At a key': 'val1111'}
Removes the last inserted key-value pair using popitem()  {1: 'Geeks', 3: 'Geeks', 4: 'Updated valu'}

In [43]:
print("Before Updating ", d1)
d1.update({3:"My update"})
print("After updating using update() ", d1)

Before Updating  {1: 'Geeks', 3: 'Geeks', 4: 'Updated valu'}
After updating using update()  {1: 'Geeks', 3: 'My update', 4: 'Updated valu'}

In [44]:
d3.clear()
print("After clearing the dictionary ",d3)

After clearing the dictionary  {}