# Functions in Python

    - Why FUnctions
    - Function Definition
    - Positional and Keyword Arguments in Functions

In [1]:
num = 24
if num % 2 == 0:
    print("Even number")
else:
    print("odd number")

Even number

# Creating a Function

In [3]:
def even_odd(num):
    if num % 2 == 0:
        print("Even number")
    else:
        print("odd number")

In [5]:
## Calling the function
even_odd(26)
even_odd(13)

Even number
odd number

## Print vs return

In [6]:
def hello():
    print("hello welcome")

In [7]:
hello()

hello welcome

In [8]:
a = hello()
print(a) ## It gives None, it means it does not return anything

hello welcome
None

In [9]:
def hello():
   return "hello welcome"

In [11]:
a = hello()
print(a) ## Now it is returning value

hello welcome

In [12]:
def add_num(num1,num2):
    return num1+num2

In [13]:
res = add_num(10,45)
print(res)

55

## Positional and Keyword Arguments

In [18]:
## Way 1:
## Positional Arguments ===> name
## Keyword argumnets ===. age
def hello(name,age = 30):
    print("My name is {} and age is {}".format(name,age))

In [19]:
hello("Suresh")
hello("Cat",12)
hello() ## it gives error because we are missing the value for positional arguments

My name is Suresh and age is 30
My name is Cat and age is 12

TypeError: hello() missing 1 required positional argument: 'name'

In [20]:
## Way 2 : Positional Argumnets ===> *args ===> accept N no of values under this
## Keyword Arguments ====> **kwargs ===> accept N no of key:value under this

def hello(*args,**kwarg):
    print(args)
    print(kwarg)

In [21]:
hello("Suresh","sooper",a=2,b=45,c="rt")

('Suresh', 'sooper')
{'a': 2, 'b': 45, 'c': 'rt'}

In [22]:
## Way 3 : can pass the data structure directly into the *args and **kwarg
lst = ["one","two","three"]
sample_dict = {"one":1,"two":2,"data":"45"}
hello(*lst,**sample_dict)

('one', 'two', 'three')
{'one': 1, 'two': 2, 'data': '45'}

## Return MUltiple value

In [27]:

def evenoddnum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2 == 0:
            even_sum = even_sum + i
        else:
            odd_sum = odd_sum + i
    return even_sum,odd_sum

In [28]:
lst = [1,2,3,4,5,6,7]
evenoddnum(lst)

(12, 16)

# Lambda Function


It is called as Anonymous Function.

A function with no name

In [29]:
## sample Function
def add(a,b):
    return a+b
print(add(1,10))

11

#### The above method can be converted to lambda function becuase it has only one line of expression

In [30]:
myvar = lambda a,b:a+b

In [31]:
myvar(1,10)

11

In [32]:
def evennum(num):
    if num%2 == 0:
        return True

In [34]:
print(evennum(12))
print(evennum(11))

True
None

#### The above function can be converted to lambda

In [36]:
myvar1 = lambda n:n%2 == 0

In [37]:
myvar1(12)

True

# Map Function

In [2]:
def even_odd(num):
    if num%2 == 0:
        return "The {} is even".format(num)
    else:
        return "The {} is odd".format(num)

In [3]:
even_odd(24)

'The 24 is even'

#### In above we are passing one value and finding even or odd, But in case if we have list of values, in that we need to find even or odd, we should iterate and call the above function, To overcome this problem we can use MAP functions

In [16]:
lst = [1,3,5,56,78,43,683,3687,64,8,7,3]
v = map(even_odd,lst)
print(v)
## map object is created but it is memory is not initialize(lazy loading), to get the result need to convert to List as below
list(v)

<map object at 0x000002387CAA6580>

['The 1 is odd',
 'The 3 is odd',
 'The 5 is odd',
 'The 56 is even',
 'The 78 is even',
 'The 43 is odd',
 'The 683 is odd',
 'The 3687 is odd',
 'The 64 is even',
 'The 8 is even',
 'The 7 is odd',
 'The 3 is odd']

# Filter Function

In [8]:
def get_even(num):
    if num%2 == 0:
        return True

In [11]:
get_even(2)

True

In [14]:
get_even(3)

#### In above we are passing one value and finding even , But in case if we have list of values, in that we need to find even , we should iterate and call the above function, To overcome this problem we can use FILTER functions

In [17]:
lst = [1,3,5,56,78,43,683,3687,64,8,7,3]
v = filter(get_even,lst)
print(v)
## filter object is created but it is memory is not initialize(lazy loading), to get the result need to convert to List as below
list(v)

<filter object at 0x000002387C08F820>

[56, 78, 64, 8]

In [19]:
## If we noted get_even method is single expression, so we can try convert to lambda and use in filter function
v = filter(lambda num:num%2 ==0 , lst)
print(v)
list(v)

<filter object at 0x000002387C9322E0>

[56, 78, 64, 8]