### Print

In [3]:
print("Hello")
print("hello","Everyone")
print("hello","Everyone",sep="~")
print("helo","Evryone",end="^^")

Hello
hello Everyone
hello~Everyone
helo Evryone^^

### Variables

In [6]:
## Valid Variable Name
age = 45
_Age = 45
AGE=45
Age=45
Age_87 = 87
aGe = 8.65

## Invalid Variable
54Age=85 ## starts with number
for=96 ## for is the python keyword

SyntaxError: invalid decimal literal (2668128142.py, line 9)

In [7]:
## RE-Declare
a = 100
print(a)
a=123
print(a)

100
123

In [10]:
### assigning Single Value to multiple variables
a = b =d = 10
print(a)
print(b)
print(d)
b = 15
print("Redeclare the one variable among multiple variable")
print(a)
print(b)
print(d)

10
10
10
Redeclare the one variable among multiple variable
10
15
10

In [13]:
## Assigning the multiple values for multiple variable in a single line
a,b,c = 1,20.5,"Hello"
print(a)
print(b)
print(c)
# d,e,f = 2.5,"Welcome" ## this gives error bcoz of not enough value

1
20.5
Hello

In [17]:
## Using + Operator in a variable
a = 10 
b = 20
print(a+b)

a= "Hello "
b="To everyone"
print(a+b)

a = 50
b = " Helo"
# print(a+b) this gives unsupported operand error

30
Hello To everyone

### Input

In [1]:
val = input("Enter the value")
print(val)

Enter the value10
10

In [2]:
## Everything considered as string 
num = input("Enter a number : ")
txt = input("Enter a name : ")
print(type(num))
print(type(txt))

Enter a number : 56
Enter a name : sad
<class 'str'>
<class 'str'>

In [3]:
## TYpe cast the input data
num = input("Enter the number : ")
print(type(num))
num = int(num)
print(type(num))

Enter the number : 58
<class 'str'>
<class 'int'>

In [4]:
d = list(map(int , input("Enter integer vsl").strip().split()))
print(d)

Enter integer vsl1 2 5 3 6
[1, 2, 5, 3, 6]

In [8]:
a = [list(map(int, input("Enter the value").split())) for b in range(5)]
print(a)

Enter the value1 2 3
Enter the value4 5 6
Enter the value7 8 9
Enter the value11 12 13
Enter the value10 14 15
[[1, 2, 3], [4, 5, 6], [7, 8, 9], [11, 12, 13], [10, 14, 15]]

### Arithmetic Operators

In [11]:
## Addition
a = 45
b = 68
print(a + b)
print(a - b)
print(a * b)
print(a / b) ## find the quotient along with the decimal(remainder) ===>  FLOAT DIVISION
print(a % b) ## find the reminder
print(a ** b) ##find the power
print(a // b) ## find the Quotient ==> FLOOR DIVISION

113
-23
3060
0.6617647058823529
45
26209029322954607950953164655370660912889373969471697508200165908652024861213991613340112962760031223297119140625
0

### Type()

In [12]:
a = ("shur","sad","qwe","qwe")
b=["shur","sad","qwe","qwe"]
c={"SDas":1,"wew":2,"ddsf":3}
d = "hello worl"
e = 25.36
f = 12.32

In [14]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(d.upper()))

<class 'tuple'>
<class 'list'>
<class 'dict'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'str'>

In [15]:
# New class(has no base) class with the
# dynamic class initialization of type()
new = type('New', (object, ),
		dict(var1='GeeksforGeeks', b=2009))

# Print type() which returns class 'type'
print(type(new))
print(vars(new))


# Base class, incorporated
# in our new class
class test:
	a = "Geeksforgeeks"
	b = 2009


# Dynamically initialize Newer class
# It will derive from the base class test
newer = type('Newer', (test, ),
			dict(a='Geeks', b=2018))

print(type(newer))
print(vars(newer))

<class 'type'>
{'var1': 'GeeksforGeeks', 'b': 2009, '__module__': '__main__', '__dict__': <attribute '__dict__' of 'New' objects>, '__weakref__': <attribute '__weakref__' of 'New' objects>, '__doc__': None}
<class 'type'>
{'a': 'Geeks', 'b': 2018, '__module__': '__main__', '__doc__': None}

### Type Conversion

In [20]:

## Implict Type Conversion
x = 10
y = 2.3
print("x is of type:",type(x))
print("y is of type:",type(y))
z = x + y
print("z is of type:",type(z)) ##The reason for the float value not being converted into an integer 
## instead is due to type promotion that allows performing operations by converting data into a wider-sized data type without 
## any loss of information. This is a simple case of Implicit type conversion in python.

x is of type: <class 'int'>
y is of type: <class 'float'>
z is of type: <class 'float'>

In [ ]:
## Explict Type Conversion