# List Operation

In [10]:
#Reverse the List
list1 = [100,200,400,500,600]
list1.reverse()
print(list1)
lst = list1[::-1]
print(lst)

[600, 500, 400, 200, 100]
[100, 200, 400, 500, 600]

In [12]:
## Merge Two List
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3=[]
for i,j in zip(list1,list2):
    list3.append(i+j)
print(list3)

['My', 'name', 'is', 'Kelly']

In [16]:
## Square of items in list
numbers = [1, 2, 3, 4, 5, 6, 7]
res = [ i*i for i in numbers ]
print(res)

[1, 4, 9, 16, 25, 36, 49]

In [17]:
## Concatation Two List
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
res1 = [x + " "+ y for x in list1 for y in list2]
print(res1)

['Hello  Dear', 'Hello  Sir', 'take  Dear', 'take  Sir']

In [29]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i,j in zip(list1,list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

In [31]:
## Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
res = list(filter(None,list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [32]:
## Add new item to list after a specified item
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [33]:
## Extend nested list by adding the sublist
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
sub_list = ["h", "i", "j"]
list1[2][1][2].extend(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
## Replace list’s item with new value if found
## You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.
list1 = [5, 10, 15, 20, 25, 50, 20]

# Set Operation

In [6]:
## Add a list of elements to a set
sample_set = {"Yellow", "Orange", "Black"}
sample_list = ["Blue", "Green", "Red"]
sample_set.update(sample_list)
print(sample_set)

{'Red', 'Blue', 'Yellow', 'Orange', 'Green', 'Black'}

In [21]:
## Return a new set of identical items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.intersection(set2)) ##1
set1.intersection_update(set2) ##2
print(set1)

{40, 50, 30}
{40, 50, 30}

In [11]:
## Get Only unique items from two sets
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
print(set1.union(set2))

{70, 40, 10, 50, 20, 60, 30}

In [20]:
## Update the first set with items that don’t exist in the second set
set1 = {10, 20, 30}
set2 = {20, 40, 50}
print(set1.difference(set2)) ##1
set1.difference_update(set2) ##2
print(set1)

{10, 30}
{10, 30}

In [23]:
## Remove items from the set at once
set1 = {10, 20, 30, 40, 50}
set2 = filter(lambda x: x > 30 ,set1) ##1
print(set(set2))
set1.difference_update({10,20,30}) ##2
print(set1)

{40, 50}
{50, 40}

In [25]:
## Return a set of elements present in Set A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference(set2)

{10, 20, 60, 70}

In [26]:
## Check if two sets have any elements in common. If yes, display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}
set1.intersection(set2)

{10}

In [27]:
## Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{20, 70, 10, 60}

In [28]:
## Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}

# Dictionary Operation

In [2]:
## Convert two lists into a dictionary
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dic1 = {}
for k,v in zip(keys,values): ##1
    dic1[k]=v
print(dic1)    
res_dict = dict(zip(keys, values)) ##2
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [6]:
## Merge two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
res_dict = {**dict1,**dict2} ##1
print(res_dict)
dict1.update(dict2) ##2
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [7]:
## Print the value of key ‘history’ from the below dict
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict["class"]["student"]["marks"]["history"])

80

In [14]:
## Initialize dictionary with default values
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}
res = {}
for i in employees: ##1
    res[i]=defaults
print(res)    
res = dict.fromkeys(employees,defaults) ##2
print(res)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [15]:
## Create a dictionary by extracting the keys from a given dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]
res = {k: sample_dict[k] for k in keys}
print(res)

{'name': 'Kelly', 'salary': 8000}

In [21]:
## Delete a list of keys from a dictionary
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]

res1 = {k : sample_dict[k] for k in sample_dict.keys() - keys} ##1
print(res1)
for i in keys:
    sample_dict.pop(i) ##2
print(sample_dict)

{'age': 25, 'city': 'New york'}
{'age': 25, 'city': 'New york'}

In [26]:
## Check if a value exists in a dictionary
# find 200 from below
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values(): 
    print("Present")

Present

In [28]:
## Rename key of a dictionary
# rename a key city to a location in the below 
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
if "city" in sample_dict.keys():
    sample_dict["location"] = sample_dict.pop("city") ## pop return the value of the removed key    
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [33]:
## Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
print(min(sample_dict,key=sample_dict.get))

Math

# Tuple Operation

In [1]:
## Reverse the tuple
tuple1 = (10, 20, 30, 40, 50)
tuple1[::-1]

(50, 40, 30, 20, 10)

In [3]:
## Access value 20 from the tuple
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print(tuple1[1][1])

20

In [4]:
## Create a tuple with single item 50
tuple1 = (50)
print(tuple1)

50

In [6]:
## Unpack the tuple into 4 variables
tuple1 = (10, 20, 30, 40)
for i in tuple1: ## 1
    print(i)
a,b,c,d = tuple1 ##2
print(a)
print(b)
print(c)
print(d)

10
20
30
40
10
20
30
40

In [8]:
## Swap two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1,tuple2 = tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [11]:
## Copy specific elements from one tuple to a new tuple
# copy elements 44 and 55 from the following tuple into a new tuple.
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3],tuple1[4] ##1
print(tuple2)
tuple3 = tuple1[3:-1] ##2
print(tuple3)

(44, 55)
(44, 55)

In [13]:
## Modify the tuple
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

In [14]:
## Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [15]:
## Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

In [17]:
## Check if all items in the tuple are the same
tuple1 = (45, 45, 45, 45)
def check(t):
    return all(i == t[0] for i in t)
print(check(tuple1))

True